<template>
    <div class="card text-left br10">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark lighten-5 br10">
                <a class="navbar-brand" href="#">Navigation</a>

                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                        data-target="#navbarNav" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link :to="{ path: '/searchMovies' }" class="nav-link" exact>{{
                                $t('searchMoviesText') }}
                            </router-link>
                        </li>
                        <li class="nav-item" v-for="item in categories" :key="item.index">
                            <router-link :to="{ path: '/categories?id=' + item.index }" class="nav-link" exact>{{
                                $t('' + item.name ) }}
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ path: '/favorites' }" class="nav-link" exact>{{ $t('favoritesText') }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>
<script>
    import config from "../../config";

    export default {
        name: 'Navigation',
        data(){
            return{
                categories: config.CATEGORIES
            }
        }
    }
</script>