<template>
    <div class="row align-items-center">
        <div class="col">
            <input @click="back(scrollTop)" class="btn btn-dark" type="button" value="<<">
        </div>
        <div class="col">
            <p class="allCentered mNone">{{ ((this.currentPage*20)-19)+ " - " + ((this.currentPage*20 >
                this.data.total_results) ?
                this.data.total_results : this.currentPage*20)}}</p>
        </div>
        <div class="col">
            <input @click="forward(scrollTop)" class="btn btn-dark flRight" type="button" value=">>">
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Pagination',
        props: {
            back: {},
            currentPage: {},
            data: {},
            forward: {},
            scrollTop: Boolean
        }
    }
</script>