<template>
    <div>
        <div class="form-inline mLeft5 mTop10" v-if="!isLatest && data.total_results > 0">
            <h5>{{ data.total_results + $t('moviesCountText') }}</h5>
        </div>
        <table v-if="data.total_results > 0 || isLatest">
            <tr class="movieHeader">
                <th>
                    {{ $t('pictureText') }}
                </th>
                <th>
                    {{ $t('titleText') }}
                </th>
                <th>
                    {{ $t('descriptionText') }}
                </th>
                <th>
                    {{ $t('releaseDateText') }}
                </th>
                <th>
                    {{ $t('ratingText') }}
                </th>
                <th>
                    {{ $t('trailerText') }}
                </th>
                <th class="centered">
                    <font-awesome-icon icon="star"/>
                </th>
            </tr>
            <tr :key="result.id" class="movieRow" v-for="result in data.results" v-if="!isLatest">
                <td class="movieCell">
                    <img :alt="$t('altImageText')"
                         :src="'https://image.tmdb.org/t/p/w500' + result.poster_path" class="br5 imageSize" v-if="result.poster_path">
                </td>
                <td class="movieCell movieTitle">
                    <p>{{ result.title }}</p>
                </td>
                <td class="movieCell minWidth330">
                    <p>{{ result.overview }}</p>
                </td>
                <td class="movieCell">
                    <p>{{ result.release_date }}</p>
                </td>
                <td class="movieCell">
                    <p>{{ result.vote_average + '/10' }}</p>
                </td>
                <td class="movieCell">
                    <button @click="$refs.Trailerplayer.prepareTrailer(result.id)" class="btn btn-dark">
                        <font-awesome-icon icon="play"/>
                    </button>
                </td>
                <td class="movieCell">
                    <button :class="'btn ' + (hasFavorite(result.id) ? 'btn-dark' : 'btn-light')" :key="incr"
                            @click="addToFavorites(result.id)">
                        <font-awesome-icon icon="star"/>
                    </button>
                </td>
            </tr>
            <tr class="movieRow" v-if="isLatest">
                <td class="movieCell">
                    <img :alt="$t('altImageText')"
                         :src="'https://image.tmdb.org/t/p/w500' + data.poster_path" class="br5 imageSize" v-if="data.poster_path">
                </td>
                <td class="movieCell movieTitle">
                    <p>{{ data.title }}</p>
                </td>
                <td class="movieCell minWidth330">
                    <p>{{ data.overview }}</p>
                </td>
                <td class="movieCell">
                    <p>{{ data.release_date }}</p>
                </td>
                <td class="movieCell">
                    <p>{{ data.vote_average + '/10' }}</p>
                </td>
                <td class="movieCell">
                    <button @click="$refs.Trailerplayer.prepareTrailer(data.id)" class="btn btn-dark">
                        <font-awesome-icon icon="play"/>
                    </button>
                </td>
                <td class="movieCell">
                    <button :class="'btn ' + (hasFavorite(data.id) ? 'btn-dark' : 'btn-light')" :key="incr"
                            @click="addToFavorites(data.id)">
                        <font-awesome-icon icon="star"/>
                    </button>
                </td>
            </tr>
        </table>
        <Trailerplayer :locale="locale" ref="Trailerplayer"/>
    </div>
</template>
<script>
    import Trailerplayer from "./Trailerplayer";

    export default {
        name: 'ResultTable',
        components: {Trailerplayer},
        props: {
            data: {},
            isLatest: Boolean,
            locale: String
        },
        data() {
            return {
                incr: 0
            }
        },
        methods: {
            addToFavorites: function (id) {
                let favorites = localStorage.favorites;
                favorites = favorites ? JSON.parse(favorites) : [];

                if (favorites.some(movieId => +movieId === +id)) {
                    favorites = favorites.filter(movieId => +movieId !== +id);
                } else {
                    favorites.push(+id)
                }
                this.incr++;
                localStorage.favorites = JSON.stringify(favorites);
            },
            hasFavorite: function (id) {
                let favorites = localStorage.favorites;
                favorites = favorites ? JSON.parse(favorites) : [];
                return favorites.some(movieId => +movieId === +id);
            }
        }
    }
</script>
<style>

    .minWidth330 {
        min-width: 330px;
    }

    .centered {
        text-align: center;
    }

    .br5 {
        border-radius: 5px;
    }

    .imageSize {
        width: 150px;
    }

    /* Table */
    .movieRow {
        box-shadow: 4px 4px 12px -2px #d3d3d3;
        border-radius: 10px;
        background-color: white;
        padding-bottom: 15px;
    }

    .movieRow td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .movieRow td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .movieCell {
        padding: 10px;
    }

    .movieHeader {
        background-color: lightgrey;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bolder;
    }

    .movieHeader th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .movieHeader th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .movieHeader th {
        padding: 10px;
        white-space: nowrap;
    }

    table {
        border-collapse: separate !important;
        border-spacing: 0 15px;
    }

    table tr td.movieTitle {
        /*white-space: nowrap;*/
        font-weight: bold;
        min-width: 200px;
    }

    table {
        margin: 0 auto;
    }

</style>