<template>
    <b-modal :ok-title="$t('backText')" content-class="shadow" hide-backdrop ok-only ok-variant="secondary" size="xl"
             title="Trailer"
             v-model="showTrailer">
        <b-embed :src="url" allowfullscreen aspect="16by9" type="iframe" v-model="showTrailer"/>
    </b-modal>
</template>

<script>
    import config from "../../config";

    export default {
        name: 'Trailerplayer',
        data() {
            return {
                videoData: [],
                url: "",
                showTrailer: false
            }
        },
        props: {
            locale: String
        },
        methods: {
            prepareTrailer: function (id) {
                this.axios
                    .get(config.BASEURL + id + "/videos?language=" + this.locale)
                    .then(response => {
                        this.videoData = response.data;
                        let results = this.videoData.results.filter(result => result.type === "Trailer" && result.site === "YouTube");
                        if (results.length > 0 && results[0].key) {
                            this.url = "https://www.youtube.com/embed/" + results[0].key;
                            this.showTrailer = true;
                        } else {
                            this.$snack.show(this.$t('noTrailerText'));
                        }
                    })
                    .catch(error => {
                        console.log(JSON.stringify(error));
                        this.$snack.show(this.$t('trailerError'));
                    });
            }
        }
    }
</script>