.router-link-active {
    color: white !important;
}

.containerUns {
    max-width: unset !important;
}

.mLeft5 {
    margin-left: 5px
}

.mTop10 {
    margin-top: 10px
}

.mRight10 {
    margin-right: 10px;
}

.mNone {
    margin: 0 auto;
}

.br5 {
    border-radius: 5px;
}

.br10 {
    border-radius: 10px;
}

.tAlignEnd {
    text-align: end;
}

.flRight {
    float: right;
}

.allCentered {
    text-align: center;
    horiz-align: center;
}