<template>
    <div class="row m-3">
        <div class="col-12" style="overflow: auto;">
            <ResultTable :data="data" :is-latest="isLatest" :locale="locale"/>
            <span ref="observe"></span>
        </div>
    </div>
</template>

<script>
    import config from "../../config";
    import ResultTable from "../components/ResultTable";

    export default {
        name: "categories",
        components: {ResultTable},
        props: {
            locale: String
        },
        data() {
            return {
                categoryString: "",
                isLatest: false,
                id: 0,
                page: 1,
                maxPages: 1,
                totalMovies: 0,
                isLoading: false,
                data: []
            }
        },
        mounted() {
            this.changeSubject();
            this.startIntersectionObserver();
        },
        methods: {
            changeSubject() {
                this.id = this.$route.query.id;
                this.page = 1;
                this.maxPages = 1;
                if (this.id <= config.CATEGORIES.length) {
                    for (let i = 0; i < config.CATEGORIES.length; i++) {
                        if (+this.id === +config.CATEGORIES[i].index) {
                            this.categoryString = config.CATEGORIES[i].name;
                            this.isLatest = (+config.CATEGORIES[i].index === +1);
                        }
                    }
                } else {
                    this.categoryString = config.CATEGORIES[1].name;
                    this.isLatest = (+config.CATEGORIES[1].index === +1);
                }
                this.searchMovieCategory();
            },
            searchMovieCategory() {
                if (this.page <= this.maxPages) {
                    if (!this.isLoading) {
                        this.isLoading = true;
                        this.axios
                            .get(config.BASEURL + encodeURI(this.categoryString) + "?include_adult=true&language=" + this.locale + "&page=" + this.page)
                            .then(response => {
                                if (this.data.length < 1) {
                                    this.data = response.data;
                                    this.maxPages = this.data.total_pages;
                                    this.totalMovies = this.data.total_results;
                                } else {
                                    this.data.results = this.data.results.concat(response.data.results)
                                    this.page = response.data.page;
                                }
                                if (this.totalMovies < 1) {
                                    this.$snack.show(this.$t('noMoviesFound'));
                                }
                                this.isLoading = false;
                            })
                            .catch(error => {
                                console.log(JSON.stringify(error));
                                this.$snack.show(this.$t('categoryError'));
                                this.isLoading = false;
                            });
                    }
                }
            },
            clear() {
                this.page = 1;
                this.maxPages = 1;
                this.data = [];
                this.isLoading = false;
            },
            startIntersectionObserver() {
                let intersectionObserver = new IntersectionObserver(entries => {
                    if(this.page < this.maxPages) {
                        if (entries[0].isIntersecting) {
                            this.page++;
                            this.searchMovieCategory();
                        }
                    }
                }, {root: null, threshold: 0});
                intersectionObserver.observe(this.$refs.observe);
            }
        },
        watch: {
            $route(to, from) {
                if (to.query != from.query) {
                    this.id = this.$route.query.id;
                    this.data = [];
                    this.changeSubject();
                }
            },
            locale: function () {
                this.clear();
                this.searchMovieCategory();
            }
        }
    }
</script>