<template>
    <div class="row m-3">
        <div class="col-12" style="overflow: auto;">
            <ResultTable :data="data" :is-latest="false" :locale="locale"/>
        </div>
        <div v-if="!data.total_results > 0">
            <p>{{ $t('noFavoritesFoundText') }}</p>
        </div>
    </div>
</template>

<script>
    import ResultTable from "../components/ResultTable";
    import config from "../../config";

    export default {
        name: 'favorites',
        components: {ResultTable},
        props: {
            locale: String
        },
        data() {
            return {
                data: {results: [], total_results: 0},
                favorites: {}
            }
        },
        mounted() {
            this.getFavorites();
        },
        methods: {
            getFavorites() {
                this.data = {results: [], total_results: 0};
                this.favorites = JSON.parse(localStorage.favorites);
                for (let i = 0; i < this.favorites.length; i++) {
                    if (this.favorites[i]) {
                         this.axios
                            .get(config.BASEURL + this.favorites[i] + "?include_adult=true&language=" + this.locale)
                            .then(response => {
                                this.data.results = this.data.results.concat(response.data);
                                this.data.total_results++;
                            })
                            .catch(error => {
                                console.log(JSON.stringify(error));
                                this.$snack.show(this.$t('favoritesError'));
                            });
                    }
                }
            }
        },
        watch: {
            locale: function () {
                this.getFavorites();
            }
        }
    }
</script>