<template>
    <div class="movies">
        <div class="form-inline mLeft5 mTop10">
            <input :placeholder="$t('searchForMovie')" aria-label="Search" class="form-control"
                   type="text"
                   v-model="searchString">
            <input :value="$t('searchText')" @click="searchMovie" class="btn btn-dark mLeft5"
                   type="button">
            <input :value="$t('clearText')" @click="clear" class="btn btn-outline-secondary mLeft5" type="button">
        </div>
        <div class="row m-3">
            <div class="col-12" style="overflow: auto;" v-if="data.total_results > 0">
                <Pagination :back="back" :current-page="currentPage" :data="data" :forward="forward"
                            :scrollTop="false"/>
                <ResultTable :data="data" :is-latest="false" :locale="locale"/>
                <Pagination :back="back" :current-page="currentPage" :data="data" :forward="forward" :scrollTop="true"/>
            </div>
            <div v-if="!data">
                <p>{{ $t('noMoviesFound') }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import config from "../../config";
    import ResultTable from "../components/ResultTable";
    import Pagination from "../components/Pagination";

    export default {
        name: "searchmovies",
        components: {Pagination, ResultTable},
        props: {
            locale: String
        },
        data() {
            return {
                searchString: "",
                currentPage: 1,
                maxPages: 1,
                data: []
            }
        },
        methods: {
            searchMovie() {
                if (this.searchString && this.searchString.length > 1) {
                    this.axios
                        .get(config.SEARCHURL + "?query=" + encodeURI(this.searchString) + "&include_adult=true&language=" + this.locale + "&page=" + this.currentPage)
                        .then(response => {
                            this.data = response.data;
                            this.maxPages = this.data.total_pages;
                            if (this.data.total_results < 1) {
                                this.$snack.show(this.$t('noMoviesFound'));
                            }
                        })
                        .catch(error => {
                            console.log(JSON.stringify(error));
                            this.$snack.show(this.$t('invalidSearchInput'));
                        });
                }
            },
            clear() {
                this.data = [];
                this.searchString = "";
            },
            back(scrollTop) {
                this.currentPage = (this.currentPage - 1 < 1) ? 1 : this.currentPage - 1;
                this.searchMovie();
                if (scrollTop) {
                    window.scrollTo(0, 0);
                }
            },
            forward(scrollTop) {
                this.currentPage = (this.currentPage + 1 > this.maxPages) ? this.maxPages : this.currentPage + 1;
                this.searchMovie();
                if (scrollTop) {
                    window.scrollTo(0, 0);
                }
            }
        },
        computed: {},
        watch: {
            locale: function () {
                this.searchMovie();
            },
            searchString: function () {
                this.currentPage = 1;
                if (this.searchString) {
                        this.searchMovie();
                } else {
                    this.clear();
                }
            }
        }
    };
</script>