<template>
    <div id="app">
        <p hidden>Please use the Chrome Browser for the best design Experience</p>
        <div class="containerUns container">
            <div class="card text-left bg-light">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>m152-themoviedb</h1>
                    </div>
                    <div class="col mRight10 tAlignEnd">
                        <select id="locale" name="locale" v-model="locale">
                            <option selected v-bind:value="'en-US'">en-US</option>
                            <option v-bind:value="'de-DE'">de-DE</option>
                        </select>
                    </div>
                </div>
            </div>
            <Navigation/>
            <router-view v-bind:locale="locale"/>
        </div>
    </div>
</template>

<script>
    import Navigation from "./components/Navigation";

    export default {
        components: {Navigation},
        data() {
            return {
                locale: localStorage.locale ? localStorage.locale : "en-US"
            }
        },
        mounted() {
            this.changeLocale();
        },
        methods: {
            changeLocale() {
                this.$i18n.locale = this.locale
                localStorage.locale = this.locale;
            }
        },
        watch: {
            locale: function () {
                this.changeLocale();
            }
        }
    }
</script>